<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536517924736-1u76rfhu1klsed6k2g1aibvlrmjajdnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536517924736-1u76rfhu1klsed6k2g1aibvlrmjajdnv</string>
	<key>API_KEY</key>
	<string>AIzaSyDoBA8F2U9_TMShbp4--CHgSMOWcBvA9dM</string>
	<key>GCM_SENDER_ID</key>
	<string>536517924736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ionicframework.yjfl</string>
	<key>PROJECT_ID</key>
	<string>yjfl-live-aef1b</string>
	<key>STORAGE_BUCKET</key>
	<string>yjfl-live-aef1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536517924736:ios:71eb663027c21d30a59365</string>
	<key>DATABASE_URL</key>
	<string>https://yjfl-live-aef1b.firebaseio.com</string>
</dict>
</plist>