.club-admin {
  background-color: black;
  @media (max-width: 767px) {
    .scroll-content {
      top: 15% !important;
      margin-top: 0px !important;
    }
  }
  .title {
    color: color($colors, white_color);
  }
  .pinDiv {
    padding-top: 35px;
    padding-bottom: 20px;
    ion-icon {
      color: color($colors, white_color);
    }
  }
  .numButton {
    width: 60px;
    height: 60px;
    color: color($colors, white_color);
    border: solid;
    border-color: color($colors, white_color);
    background: transparent;
  }
}
